/*Basic Color*/
$white: #FFFFFF;
$background-Color: #F5F5F5F5;
$black: #212121;
$dimColor: #CDCDCD;


/*Theme Color*/
$light-Blue: #DBE5FF;
$subheader-Blue: #BFD3FF;
$darkBlue: #001088;
$summaryBlue:#D8E4FF;

/*Header Color*/
$arrow-Box: #7E8DFF;
$orange: #FFB11F;
$gradient-Blue: #3340FF;
$gradient-Blue1: #000ED9;


/*Icon Color*/
$icon-blue: #0019D8;
$icon-darkBlue: #002672;
$icon-Red: #FF1B40;

/*Status Color*/
/*Old*/
// $status-inactive: #8A8A8A;
// $status-active: #0019D8;
// $status-approve: #00B259;
// $status-reject: #FF1B40;
// $status-draft: #212121;
// $status-pending: #FF9800;
// $status-darkRed: #CC0021;
// $status-lighBlue: #0A00FF;
/*New*/
$status-blue:#0019D8;
$status-darkRed:#CC0021;
$status-red:#FF1B40;
$status-green:#00B259;
$status-lightGrey:#9B9B9B;
$status-lightOrange:#FF9800;
$status-black:#212121;
$status-darkBlue:#001088;
$status-lightBlue:#0A00FF;

/*Font Color*/
$font-lightBlue: #0019D8;
$font-red: #FF1B40;
$font-darkBlue: #001088;
$font-black: #212121;
$font-label: #878787;
$font-desc: #454545;
$font-sideMenu:#363636;
$font-white:#FFFFFF;
$font-orange:#FBAF22;

$expire-color: #9B9B9B;