@import url("../assets/ifca-standard/ifca-standard.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Economica:300,400,500,600,700");
@import url("../assets/ifca-standard/themify-icons/themify-icons.css");
@import url("../assets/ifca-standard/font-awesome/css/font-awesome.css");
@import url("../assets/ifca-standard/spinner.css");
@import url("../assets/ifca-standard/app.css");
@import url("../assets/ifca-standard/header.css");
@import url("../assets/ifca-standard/widgets.css");
@import url("../assets/ifca-standard/pages.css");
@import url("../assets/ifca-standard/sidebar.css");
@import url("../assets/ifca-standard/dark-sidebar.css");
@import url("../assets/ifca-standard/responsive.css");
@import url("../assets/ifca-standard/rtl.css");
/*Basic Color*/
/*Theme Color*/
/*Header Color*/
/*Icon Color*/
/*Status Color*/
/*Old*/
/*New*/
/*Font Color*/
/* Variables */
/* ----------------------------- */
/***************************************/
/***************************************/
/* Originally from style.layout.css */
html,
body {
  height: 100%;
}

.desktop-profile {
  display: none;
}

.product-title {
  font: 700 17px/12px Economica;
  color: #fff;
  margin-top: 2px;
}

.product-title .sub {
  font: 300 17px/12px Economica;
  color: #f7982f;
  text-transform: uppercase;
}

.page-content {
  background: whitesmoke;
  height: 100%;
}

.mat-toolbar.ifca-header {
  background: #212121 !important;
  min-height: 64px !important;
}

.subheader-title {
  color: white;
  font-weight: 200;
  font-size: 15px;
  margin-top: 2px;
}

.subheader-word-action {
  font-weight: bold;
  color: #f7982f;
}

.subheader-word-action {
  font-weight: bold;
  color: #f7982f;
}

.mobile-header {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: block;
}

.desktop-header {
  display: block;
  padding: 15px 15px 0px 15px;
}

.mat-drawer-content {
  overflow: unset !important;
}

.subheader-step {
  font-size: 14px;
  color: #f7982f;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

router-outlet ~ * {
  height: 100%;
  width: 100%;
}

/* Originally from style.layout.css (END) */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Originally from style.css */
.m-0,
.mat-form-field-appearance-outline .mat-form-field-wrapper,
.timeline-header.responsive-list.mat-list-base .mat-list-item {
  margin: 0 !important;
}

.m-b-0,
.responsive-list.subheader.mat-list-base .mat-list-item,
.responsive-list.subheader-set.mat-list-base .mat-list-item {
  margin-bottom: 0;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-lr-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.mat-expansion-panel-body {
  padding: 10px;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0.75em 0 0.75em !important;
  background-color: transparent !important;
}

.form-amt-container {
  padding-left: 16px;
  padding-right: 16px;
}

.form-amt-container p,
.form-amt-container span {
  font: 500 14px/15px Poppins !important;
}

.font-16-weight-400 {
  font: 400 16px/20px Poppins !important;
}

.font-14-weight-400 {
  font: 400 14px/14px Poppins !important;
}

.text-default {
  color: #808080 !important;
}

.font-14-weight-600 {
  font: 600 14px/14px Poppins !important;
}

.font-14-weight-600-black {
  font: 600 14px/14px Poppins !important;
  color: #212121;
}

.font-14-weight-500 {
  font: 500 14px/14px Poppins !important;
}

.font-12-weight-600 {
  font: 600 12px/12px Poppins !important;
}

.font-12-weight-400 {
  font: 400 12px/12px Poppins !important;
}

button.menu-burger.mat-icon-button {
  color: #fff;
  background-color: #7e8dff !important;
  border-radius: 2px !important;
  width: 22px;
  height: 22px;
  line-height: 22px;
  margin-right: 6px;
}

.ifca-general-header {
  background: -webkit-gradient(linear, left top, right top, from(#2f47ff), to(#2408ba)) !important;
  background: linear-gradient(to right, #2f47ff, #2408ba) !important;
  padding: 4px 12px !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 10;
  right: 0;
}

.ifca-general-header.mat-toolbar-single-row {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.ifca-general-header .bread-crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

.ifca-general-header .bread-crumb .active {
  font: 600 10px/14px Poppins;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bread-crumb-font7 {
  font: 400 7px/12px Poppins !important;
}

.ifca-general-header .bread-crumb-font7 .active {
  font: 600 7px/12px Poppins !important;
}

.ifca-general-header .selected-obj {
  font: 600 12px/16px Poppins;
  color: #ffb11f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ifca-general-header .domain {
  font: 400 10px/14px Poppins;
  color: #ffffff;
}

.selected-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.ifca-general-header .btn {
  color: #ffb11f;
  height: 20px;
  width: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 20px;
  margin-left: 8px;
}

.ifca-general-header .menu-burger {
  background-color: #352265 !important;
  border-radius: 0% !important;
}

.ifca-general-header .menu-burger mat-icon {
  color: #fff;
}

.ifca-general-header .line-header {
  border-bottom: 1px solid #ffb11f;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.mat-raised-button.mat-primary {
  color: #fff !important;
}

.mat-raised-button span {
  color: #fff !important;
  font: 500 14px/36px Poppins !important;
}

button.mat-raised-button.mat-primary .btn-blue {
  color: #fff !important;
  background-color: #0019d8;
  font: 500 12px/14px Poppins !important;
}

button.btn-blue-light {
  color: #000 !important;
  background-color: #e5edff !important;
  font: 300 10px/11px Poppins !important;
  border-radius: 30px;
  padding: 5px 10px;
  text-align: left !important;
  text-decoration: none;
  display: inline-block;
  margin: 3px 5px;
}

.dialog-header-title {
  font: 600 16px/18px Poppins !important;
  line-height: 1rem !important;
  color: #001088;
}

.customHr {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.m-tb-5-lt-10 {
  margin: 5px 10px !important;
}

.header-label {
  font-size: 10px !important;
  color: #808080 !important;
}

.header-value-blue {
  color: #0019d8;
  font: 500 10px/14px Poppins !important;
}

.login-logo {
  width: 44%;
  height: auto;
}

.white-input * {
  color: white;
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.login-btn {
  width: 130px;
  border-radius: 35px !important;
}

.white-chbox .mat-checkbox-frame {
  background-color: transparent;
  -webkit-transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

.landing-img-bg {
  background-image: url("../assets/images/ifca-bg-desktop.png") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5em 1em;
  background-size: contain;
  background-repeat: repeat-x;
}

.center-flex {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.full-width,
.contract-details-table {
  width: 100%;
}

.min-vp-height {
  min-height: 100vh;
}

img.login-logo {
  width: 186px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.forgot-pw {
  font: 400 12px/12px Poppins !important;
  color: white;
}

span.mat-checkbox-label {
  font: 400 12px/12px Poppins !important;
  vertical-align: middle;
}

.mat-list-base .mat-list-item {
  padding: 0px 8px 0px 8px !important;
}

.mat-list-item-content,
.responsive-list.meter-detail-list.mat-card .mat-card-content {
  padding: 8px 0px !important;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text {
  padding-right: 0;
  padding-left: 8px !important;
}

.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  padding: 0px !important;
}

.responsive-list {
  padding: 0px 4px !important;
}

.responsive-list.subheader .mat-list-item,
.responsive-list.subheader-set .mat-list-item {
  border-radius: unset !important;
}

.responsive-list.subheader-set.mat-list-base .mat-list-item {
  background: #e5edff;
}

.responsive-list.mat-list-base .mat-list-item {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 10px 12px !important;
  height: fit-content !important;
  background: white;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 10px 2px rgba(0, 0, 0, 0.05), 0 0px 5px 0 rgba(0, 0, 0, 0.1) !important;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 10px 2px rgba(0, 0, 0, 0.05), 0 0px 5px 0 rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 4px;
}

.title-f {
  font: 600 12px/18px Poppins !important;
}

.title-f-black {
  font: 600 12px/18px Poppins !important;
  color: #212121 !important;
}

.title-f-blue {
  font: 600 12px/18px Poppins !important;
  /*TODO: sales, operation using this*/
  /* font: 600 14px/16px Poppins !important; //TODO: workdesk using this */
  color: #0019D8;
}

.desc-f {
  display: inline-block !important;
  color: #454545;
  font: 400 10px/16px Poppins !important;
}

.desc-f-black {
  display: block !important;
  font: 400 10px/16px Poppins !important;
  color: #212121 !important;
}

.desc-f-black-medium {
  display: block !important;
  font: 500 10px/16px Poppins !important;
  color: #212121 !important;
}

.desc-f-black-semibold {
  display: block !important;
  font: 600 10px/16px Poppins !important;
  color: #212121 !important;
}

.desc-f-blue {
  display: block !important;
  color: #0019D8;
  font: 400 10px/16px Poppins !important;
  /*TODO: sales, operation using this*/
  /* font: 400 10px/16px Poppins !important; //TODO: workdesk using this*/
}

.desc-f-blue-medium {
  color: #0019D8;
  font: 500 10px/16px Poppins !important;
}

.desc-f-blue-bold {
  color: #0019D8;
  font: 600 10px/16px Poppins !important;
  /*TODO: sales, operation using this*/
  /* font: 600 10px/16px Poppins !important; //TODO: workdesk using this*/
}

.desc-f-blue-bold-underline {
  display: block !important;
  color: #0019D8 !important;
  font: 600 10px/16px Poppins !important;
  text-decoration: underline;
}

.desc-f-red {
  display: inline-block !important;
  color: #FF1B40;
  font: 400 10px/16px Poppins !important;
}

.desc-f-red-bold {
  display: block !important;
  color: #FF1B40;
  font: 600 10px/16px Poppins !important;
}

.desc-f-red-bold-without-block {
  color: #FF1B40;
  font: 600 10px/16px Poppins !important;
}

.mat-list-base .mat-list-item .mat-list-icon {
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
  color: #0019D8;
  padding: 0px !important;
}

.responsive-list.single .mat-list-icon {
  font-size: 22px !important;
  width: 22px !important;
  height: 22px !important;
}

.responsive-list .mat-list-item {
  border-radius: 4px;
}

.responsive-list .title-f {
  font: 600 12px/18px Poppins !important;
  display: inline-block !important;
  color: #212121;
}

.appointment-date .title-f {
  font: 600 12px/18px Poppins !important;
  display: inline-block !important;
  color: #212121;
}

.button-width {
  width: 150px;
}

button.mat-raised-button.btn-default {
  padding: 0px 25px !important;
}

button.mat-raised-button.btn-blue {
  background-color: #0019d8 !important;
  padding: 0px 25px !important;
}

button.mat-raised-button.btn-red {
  background-color: #ff4568 !important;
  padding: 0px 25px !important;
}

button.mat-raised-button.btn-blue span {
  color: #fff !important;
  font: 500 12px/14px Poppins !important;
}

button.mat-raised-button.btn-default span {
  font: 500 12px/14px Poppins !important;
}

button.mat-raised-button.btn-red span {
  color: #fff !important;
  font: 500 12px/14px Poppins !important;
}

.responsive-list.subheader .mat-list-base .mat-list-item .mat-line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.detail-card.expansion .mat-expansion-panel-header,
.p-8-12 {
  padding: 8px 12px !important;
}

.detail-card.expansion .responsive-list.mat-list-base .mat-list-item {
  padding: 0px 20px 0px 0px !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  margin: 0px !important;
}

.detail-card.expansion .responsive-list .title-f {
  font: 600 12px/18px Poppins !important;
  color: #212121 !important;
}

.responsive-list.subheader .mat-list-icon,
.mat-list-base .mat-list-item .mat-list-icon,
.mat-list-base .mat-list-option .mat-list-icon,
.mat-list-base .mat-list-item .mat-list-avatar,
.mat-list-base .mat-list-option .mat-list-avatar {
  border-radius: unset !important;
}

.search-bar,
.opportunity-search-bar,
.search-bar-daily {
  padding: 0px !important;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 5px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 5px 0px rgba(0, 0, 0, 0.02);
}

.search-bar .container {
  margin-top: 10px;
  background: white;
  font-size: 12px !important;
  margin-bottom: 5px;
}

.mat-dialog-container {
  background: none;
  padding: 0px !important;
  background: white;
}

.mat-dialog-container .mat-card {
  margin: 0px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-dialog-container {
  width: 90vw !important;
  /*TODO: sales, operation using this*/
  /* width: 80vw !important; //TODO: workdesk using this*/
  max-width: 560px;
}

.mat-tab-label,
.mat-tab-link {
  font-weight: 600 !important;
}

.mat-tab-label-active {
  color: #0e1088 !important;
  font-weight: 800 !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.blue-bar {
  margin: -10px 0 0 0 0;
  padding: 0px !important;
  margin-top: 5px;
  background: #bfd3ff;
}

.mat-card .mat-card-header {
  padding: 10px 12px !important;
  border-radius: 4px 4px 0 0;
}

.mat-card.mat-card.mat-focus-indicator {
  margin: 6px 6px -1px 6px;
}

.upload-content-icon {
  width: 50px;
  -o-object-fit: contain;
  object-fit: contain;
  height: 35px;
  cursor: pointer;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.doc-style {
  font-size: 13px !important;
  color: #212121 !important;
  font-weight: 400 !important;
}

.title-display {
  margin: 0px 10px 4px 10px !important;
}

.doc-error-style {
  color: #ff4568 !important;
  /* line-height: 12px; //TODO: workdesk using this*/
  font: 400 11px/14px Poppins !important;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.54);
}

.detail-card .expanded-details {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e8e8e8;
  border-top: #c3c3c3 1px solid;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .desktop-header {
    display: none !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .desktop-profile {
    display: block;
  }
  .responsive-content {
    height: calc(100% - 120px);
    padding: 0px 15px 15px;
  }
  .search-field {
    padding: 0px 15px;
  }
}

@media screen and (min-width: 1024px) {
  .box-login {
    width: 50%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .fixed-subheader {
    position: fixed;
    z-index: 10;
    /*TODO: sales, operation using this*/
    /* z-index: 2; //TODO: workdesk using this*/
    width: 100%;
  }
  .with-fixed-subheader {
    margin-top: 100px;
  }
  .with-fixed-subheader-without-search {
    margin-top: 59px;
  }
  .with-fixed-subheader-without-icon-without-search {
    margin-top: 51px;
  }
  .with-fixed-subheader-mat-tab {
    margin-top: 149px;
  }
  .with-fixed-subheader-mat-icon-1-line {
    margin-top: 53px;
  }
  .with-fixed-subheader-mat-icon-2-line {
    margin-top: 63px;
  }
  .with-fixed-subheader-mat-icon-1-line-with-search {
    margin-top: 95px;
  }
  .with-fixed-subheader-mat-icon-2-line-with-search {
    margin-top: 105px;
  }
  .with-fixed-subheader-with-search {
    margin-top: 49px !important;
  }
  .with-fixed-subheader-1-line {
    margin-top: 39px !important;
  }
  .with-fixed-subheader-1-line-with-search {
    margin-top: 81px !important;
  }
  .with-fixed-subheader-2-line {
    margin-top: 55px !important;
  }
  .with-fixed-subheader-2-line-with-search {
    margin-top: 97px !important;
  }
  .with-fixed-subheader-mat-icon-2-line-with-search-margin {
    margin-top: 110px !important;
  }
  .with-fixed-subheader-mat-icon-1-line-with-opp-subheader {
    margin-top: 125px !important;
  }
  .with-fixed-subheader-with-opp-subheader {
    margin-top: 77px !important;
  }
}

/* desktop view */
@media (min-width: 769px) {
  /* new Standard */
  .with-fixed-subheader-with-search,
  .with-fixed-subheader-1-line,
  .with-fixed-subheader-1-line-with-search,
  .with-fixed-subheader-mat-icon-1-line,
  .with-fixed-subheader-mat-icon-2-line,
  .with-fixed-subheader-mat-icon-1-line-with-search,
  .with-fixed-subheader-mat-icon-2-line-with-search,
  .with-fixed-subheader-2-line-with-search,
  .with-fixed-subheader-2-line,
  .with-fixed-subheader-mat-icon-2-line-with-search-margin,
  .with-fixed-subheader-mat-icon-1-line-with-opp-subheader,
  .with-fixed-subheader-with-opp-subheader,
  .with-fixed-subheader-dynamic {
    margin-top: 6px !important;
  }
}

.color-white {
  color: white;
}

.bg-white {
  background: white;
}

.bg-title-subheader {
  background-color: #e5edff !important;
}

.responsive-list .tenant-f {
  color: #212121;
  display: inline !important;
  font: 500 10px/11px Poppins !important;
}

.desc-f.desc-f-black-right {
  display: block !important;
  color: #212121;
  font: 600 10px/15px Poppins !important;
  text-align: right;
}

.scroll-container {
  height: calc(100vh - 186px);
}

.p-t-7 {
  padding-top: 7px !important;
}

.p-t-65 {
  padding-top: 65px !important;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

.p-l-18 {
  padding-left: 18px !important;
}

.bg-color-grey {
  background-color: #f5f5f5 !important;
}

.desc-f.first-of-infoline {
  display: unset !important;
  margin-right: 3px;
}

.m-b-14 {
  margin-bottom: 14px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.responsive-list .blue-f {
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.responsive-list.timeline-header .blue-bar {
  background: #c7d6ff;
}

.timeline .title-f {
  line-height: 22px !important;
  color: #0019D8 !important;
}

.timeline .numberAttachment {
  color: #0019D8 !important;
  font: 600 10px/22px Poppins !important;
  text-decoration: underline;
}

.timeline.bg-colour {
  background-color: #fff;
}

.timeline-log {
  display: block;
  margin-bottom: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e8e8e8;
  border-top: #c3c3c3 1px solid;
}

.timeline-log ul.timeline:before {
  left: 20px !important;
}

.timeline-log .timeline-badge {
  left: 16px !important;
}

.timeline-log .timeline-panel {
  width: calc(100% - 30px) !important;
}

.m-l-auto {
  margin: 0px 0px 0px auto;
}

.color-theme {
  background-color: #5367ff !important;
}

.align-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.p-tb-6 {
  padding: 6px 0px !important;
}

.p-tb-14 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.text-link {
  text-decoration: underline;
  color: #0019d8 !important;
  /*TODO: sales, operation using this*/
  /* color: #0019d8; //TODO: workdesk using this*/
}

.p-l-8 {
  padding-left: 8px !important;
}

.p-r-8 {
  padding-right: 8px !important;
}

.pull-right {
  margin: 0 10px 0 10px;
  float: right !important;
}

.warning-bg-color {
  background-color: #fff2d9 !important;
}

.sr-alarm-icon {
  margin-right: 9px;
}

.icon-10 {
  font-size: 10px !important;
  height: 10px !important;
  width: 10px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  line-height: 9px;
}

.icon-15 {
  font-size: 15px !important;
  height: 15px !important;
  width: 15px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.responsive-list .infoline-f {
  color: #454545;
  font: 400 10px/11px Poppins !important;
}

.status-line {
  font: 400 10px/11px Poppins;
}

.responsive-list .infoline-f-blue {
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.first-col-infoline-fix {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.second-col-infoline {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.divider-quotation {
  /* margin: 8px 0px !important; */
  position: inherit !important;
}

.contact-detail .material-icons {
  font-size: 18px;
  height: 18px;
  width: 18px;
  color: #0019d8;
}

.icon-16-blue {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
  color: #0019d8 !important;
}

.icon-16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

.quotation-list .mat-list-item-content {
  padding: 8px 8px 4px 8px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.quotation-list:last-child .mat-list-item-content {
  border-bottom: unset !important;
}

.underline {
  text-decoration: underline;
}

.m-t-4 {
  margin-top: 4px;
}

.desc-f-blue-requestType {
  /* display: block !important; */
  color: #0019D8;
  font: 600 10px/16px Poppins !important;
}

.profile-bg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 135px;
}

.profile-img-in {
  border: 1px solid #e4e4e4;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -40px;
}

.profile-img-frame {
  text-align: center;
  margin-top: -80px !important;
  /*ori margin-top: -80px !important;*/
}

.profile-name {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  padding: 8px 12px !important;
  /*added*/
}

.edit-profile-btn {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.profile-detail-frame {
  padding: 20px 0px 5px !important;
}

.profile-detail {
  margin-bottom: 15px;
}

.profile-detail .value {
  color: #212121;
  font-weight: 500;
  font-size: 15px;
}

.sidebar-clear-box-shadow .responsive-list.mat-list-base .mat-list-item {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-card .mat-card-content.profile-detail-content {
  padding: 8px 32px 10px 32px !important;
}

.responsive-list .meter-summay-list {
  border-bottom: #d6d6d6 1px solid;
  padding: 12px 0px !important;
}

.responsive-list .meter-summay-list-last {
  padding: 12px 0px 4px 0px !important;
}

.responsive-list .meter-detail-list-last {
  padding: 12px 12px 0px 12px !important;
}

.responsive-list .meter-detail-list {
  border-bottom: #d6d6d6 1px solid;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 1em 0 !important;
}

.clean-input .mat-form-field-infix {
  padding: unset;
  border-top: unset;
}

.mat-form-field-appearance-fill.mat-form-field-flex {
  background-color: white !important;
}

.mat-form-field-appearance-fill.mat-input-underline {
  display: none;
}

.noline .mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: unset !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(47, 83, 230, 0.9) !important;
}

.meter-detail-list .mat-form-field-wrapper,
.mat-card .mat-card-header.p-b-0 {
  padding-bottom: 0px !important;
}

.bg-light-blue {
  /* background-color: #c7d6ff !important;*/
  background: #bfd3ff;
}

.responsive-list.subheader.mat-list-base .mat-list-item {
  background: #BFD3FF;
}

.responsive-list.meter-detail-list .mat-list-item {
  border-radius: unset;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.responsive-list.meter-attachment-popup .mat-list-item {
  border-radius: unset;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding: 8px 4px !important;
}

.responsive-list.meter-attachment-popup {
  padding: unset !important;
}

.right-aligned-header > .mat-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.ml-auto {
  margin-left: auto;
}

.master-meter-header {
  position: relative;
  top: 2px;
}

.word-break-all {
  word-break: break-all;
}

.min-height-20 {
  min-height: 20px !important;
}

.sr-listing .cdk-virtual-scroll-content-wrapper {
  position: inherit !important;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: bold;
}

.form-amt-container p.font-weight-600 {
  font-weight: 600 !important;
}

.checkbox-list {
  padding: 10px;
}

.meter-listing .cdk-virtual-scroll-content-wrapper {
  position: inherit !important;
  padding-bottom: 150px !important;
}

.timeline-header {
  border-radius: 4px 4px 0px 0px !important;
}

.meter-detail-content-header {
  font: 600 12px/18px Poppins !important;
  line-height: 1rem !important;
  color: #212121;
}

.responsive-list.meter-detail-list .mat-card-header {
  padding: 8px 12px 0px 12px !important;
}

.mat-list.mat-list-base.meter-form {
  padding-top: 0px !important;
}

.meter-detail-list .mat-list-base .mat-list-item.meter-reading {
  height: auto !important;
  padding: 8px 12px !important;
}

.mat-card .mat-card-header.selection-container {
  padding: 8px !important;
}

.penalty-dropdown {
  margin-left: 10px !important;
}

.dialog-style .mat-dialog-container {
  width: 95vw !important;
  margin: auto;
  background: white;
}

.history-dialog.dialog-style .mat-dialog-container {
  width: 95vw !important;
  margin: auto;
  padding: 16px 0px 0px !important;
  overflow-x: hidden;
}

.history-dialog.dialog-style .dialog-title {
  padding: 12px 32px;
}

.p-10-12 {
  padding: 10px 12px !important;
}

.unselected-pic {
  opacity: 0.35 !important;
}

.slider-image {
  height: 35px;
}

.meter-detail-list .dim-bg.margin-b-0 {
  margin-bottom: 0px !important;
}

.meter-detail-list .mat-tab-body-wrapper.dim-bg {
  background-color: #d6d6d6 !important;
}

.slider-selected-image-container {
  width: 100%;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: black;
}

.slider .owl-carousel .owl-item img {
  height: 50px;
  display: block;
}

.slider .owl-carousel.owl-drag .owl-item {
  width: 25% !important;
}

.slider .owl-carousel .owl-stage {
  width: 100% !important;
}

.responsive-list .title-f.meter-attachment-info-f-fw600 {
  font: 600 14px/20px Poppins !important;
}

.responsive-list .title-f.meter-attachment-info-f-fw400 {
  font: 400 14px/20px Poppins !important;
}

.screenload {
  z-index: 999999999;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
}

.screenload.disable-click {
  background: rgba(0, 0, 0, 0.54);
}

.m-auto,
.margin-auto {
  margin: auto !important;
}

.screenloadContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.screenloadSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.screenloadContainer .mat-progress-spinner {
  position: absolute;
}

.network-error-icon {
  font-size: 150px;
  height: 150px !important;
  width: 150px !important;
  color: red;
}

.error-page {
  background-color: #f5f5f5;
}

.meter-attachment .header-value,
.meter-attachment .header-value-blue {
  font: 600 12px/16px Poppins !important;
}

button.mat-raised-button.btn-disable {
  background-color: #d6d6d6 !important;
}

.font-medium {
  font: 400 12px/12px Poppins !important;
}

.font-medium-bold {
  font: bold 10px/10px Poppins !important;
}

.font-large-bold {
  font: bold 14px/14px Poppins !important;
}

.font-large {
  font: 100 18px/18px Poppins !important;
}

audio {
  max-width: 260px;
}

@media (min-width: 350px) {
  audio {
    max-width: unset;
  }
}

.text-blue {
  color: #0019d8;
}

.property-gallery-slider .property-gallery-slider-image {
  max-height: 224px;
}

.property-gallery-slider .owl-stage {
  background-color: black;
}

.property-gallery-mat-card-header {
  border-bottom: 1px solid #d6d6d6;
}

.three-item-one-row > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.table-cell {
  display: table-cell !important;
}

.blue-table {
  background-color: #e5edff;
}

.blue-table-header {
  background-color: #919dff;
}

.mat-form-field-wrapper {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/******************* 
Modal
*******************/
.dialog-title {
  padding: 10px 12px;
  background: #c7d6ff;
  font: 600 14px/18px Poppins !important;
  color: #001088 !important;
}

.dialog-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 12px;
}

.dialog-actions {
  padding: 0px 12px 10px 12px;
  text-align: right;
}

.dialog-content.scrollable {
  overflow-y: auto;
  max-height: 320px;
}

.dialog-responsive-list.mat-list-base,
.dialog-responsive-list .mat-list-item-content,
.mat-card .mat-card-content.p-0,
.meter-attachment.mat-card .mat-card-content,
.timeline-header.responsive-list,
.detail-card.expansion .responsive-list.mat-list-base,
.responsive-list .mat-list-item-content,
.responsive-list.subheader,
.responsive-list.subheader-set,
.padding-0 {
  padding: 0px !important;
}

.dialog-responsive-list.mat-list-base .mat-list-item {
  padding: 8px 0px !important;
  height: unset !important;
}

.dialog-actions button {
  background-color: #0019d8;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: white !important;
  margin-left: 16px;
  font: 500 12px/36px Poppins !important;
  padding: 0 25px;
}

.dialog-footer {
  padding: 12px 0px;
  width: 100%;
  text-align: right;
  border-top: 1px solid #dedede;
}

.m-tb-8 {
  margin: 8px 0px !important;
}

.history-dialog-content {
  margin-top: unset !important;
  margin-bottom: 8px !important;
}

.footer-menu .footer-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Originally from style.css (END) */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Originally from style.css [TENANT-APP] */
.m-t--7 {
  margin-top: -7px !important;
}

.m-t-7 {
  margin-top: 7px !important;
}

.m-t--10 {
  margin-top: -10px !important;
}

.m-b--10 {
  margin-bottom: -10px !important;
}

.m-t--15 {
  margin-top: -15px !important;
}

.m-lr-10 {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 0px;
}

.p-l-15 {
  padding-left: 15px;
}

.p-tb-10 {
  padding-top: 10px;
  border-bottom: 1px solid #333333;
}

.p-l--16 {
  padding-left: -16px !important;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l--12 {
  padding-left: -12px;
}

.sub-title-search.mat-line {
  font-size: 10px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-t--40 {
  margin-top: -40px !important;
}

.password-box {
  padding: 5px 20px 0px !important;
}

.detail-label {
  font: 400 12px/12px Poppins !important;
  color: #808080 !important;
}

.header-title {
  font: 500 12px/12px Poppins !important;
  color: #4429ff;
}

.sub-details-title,
.sub-header-title {
  font: 500 14px/16px Poppins !important;
  color: #001088 !important;
}

.detail-action {
  border-bottom: 1px solid #e9e9e9;
  font: 400 14px/12px Poppins !important;
}

.detail-action:last-child {
  border-bottom: unset !important;
}

.search-field {
  display: none;
  width: 100%;
  top: 2px;
  left: 0px;
  z-index: 10;
  position: absolute;
}

.search-field.lead {
  top: 66px !important;
}

.search-field.lead-switch {
  top: 121px;
}

.search-field .form-control {
  background: #fff5ed;
  line-height: 42px;
  font-size: 16px;
  line-height: 25px;
  border: none;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05) !important;
}

.active-page a {
  background: #f2f2f2;
  color: #fff !important;
  border-radius: 3px;
}

.active-page mat-icon {
  color: #fff !important;
}

.mat-simple-snackbar-action {
  color: #ffb11f !important;
}

.insert-pic {
  background: #e5e6e8;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 500px;
  overflow: hidden;
  text-align: center;
}

.insert-pic-field {
  padding: 1rem 0px 0.5rem;
}

.insert-pic-btn {
  display: block !important;
  margin: -30px auto 0px !important;
  position: relative !important;
  left: 35px;
}

.insert-pic-icon {
  color: #afb4b7;
  height: 50px !important;
  width: 50px !important;
  font-size: 50px;
  padding-top: 20px;
}

.divider {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.12);
  margin-bottom: 20px;
}

.progress-claim {
  width: 100%;
  background: grey;
  height: 50px;
}

.progress-claim .claim {
  width: 10%;
  height: 50px;
  background: blue;
}

.progress-claim .paid {
  width: 5%;
  background: orange;
  height: 50px;
}

.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1), -webkit-box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.header-align-right {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.design-system-container .mat-tab-body {
  padding: 0px 15px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0e1088 !important;
}

.design-system-container {
  margin-bottom: 60px;
}

.design-system-container h3 {
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 400;
}

.code-tab {
  padding: 8px 0px !important;
  line-height: 35px;
  font-size: 16px !important;
}

.design-system-container .mat-tab-body {
  padding-bottom: 8px;
}

.top-0 {
  top: 0px !important;
}

code {
  font-size: 16px !important;
  line-height: 25px !important;
}

.half-width {
  width: 50% !important;
}

.fixed-header {
  position: fixed !important;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mat-dialog-container a::hover {
  background: red;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px !important;
}

/* BEGIN::NIZA -- additional CSS for HotelX2020*/
.custom-dialog-container .dialog-container {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px !important;
}

.mat-chip {
  font-size: 11px !important;
  font-weight: 500;
}

.footer-menu-daily {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  height: 96px;
  z-index: 10;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.15);
  /* remove blue highlight */
  -webkit-tap-highlight-color: transparent !important;
  -moz-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important;
  tap-highlight-color: transparent !important;
}

.blue-bar .container .main-title {
  margin-top: 10px;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.blue-bar .container .sub-title {
  font-size: 10px !important;
  font-weight: normal !important;
}

.sub-title span {
  font-size: 10px !important;
  font-weight: normal !important;
  color: #0019d8;
}

.mailbox .message-center .announce .user-img .busy {
  background: #fc4b6c;
}

.mailbox .message-center .announce .user-img .profile-status {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  left: 30px;
  position: absolute;
  top: 1px;
  width: 10px;
}

.mailbox .message-center .announce .user-img {
  border-radius: 10%;
  width: 50px;
  background: #212121;
  margin-right: 12px;
  height: 32px;
}

.mailbox .message-center .announce {
  border-bottom: none !important;
  color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 5px 0 0 0 !important;
}

.form-amt-container .mat-form-field-wrapper {
  padding-bottom: 10px !important;
}

.search-bar-daily .container {
  background: white;
  font-size: 12px !important;
}

.line-grey {
  color: #d2d7e3 !important;
}

.fa-circle {
  color: red !important;
  margin-left: -8px;
}

.two-n-three-row-list .list-main {
  margin-top: -8px !important;
}

.two-n-three-row-list .img-noti img {
  margin-right: 10px;
  padding-right: 5px !important;
}

.detail-card-yellow {
  background: #fff2e5 !important;
}

.detail-card-yellow.expansion .mat-expansion-panel-header {
  padding-left: 0px;
  background-color: #fff2e5;
}

.detail-card.expansion-meter {
  margin: 7px 5px 0px 0px !important;
}

.two-n-three-row-list .title-expansion {
  color: #212121;
  font: 600 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
  margin-bottom: 2px;
}

.two-n-three-row-list .desc-expansion {
  color: #212121;
  font: 300 10px/11px Poppins !important;
}

.two-n-three-row-list .desc-blue {
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.info-title-noti img {
  text-align: center !important;
  width: 32px;
  height: 32px;
}

.info-title-xnoti img {
  text-align: center !important;
  width: 32px;
  height: 32px;
}

.detail-card .info-title {
  font-size: 12px;
  font-weight: 400;
  color: #212121;
  line-height: normal !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.amt-right {
  display: block !important;
  color: #212121;
  font: 300 10px/11px Poppins !important;
}

.detail-card .info-due {
  font-size: 9px;
  font-weight: 400;
  line-height: normal !important;
}

.detail-card .info-due .desc-period {
  font-size: 7px;
  font-weight: 300;
  line-height: normal !important;
}

.blue-bar .invoice-container {
  border-top: #d2d7e3 1px solid;
  margin-top: 0px;
  padding: 6px 16px;
  background: #e5edff;
  font-size: 12px !important;
}

.invoice-container .info-title {
  font: 400 10px/11px Poppins !important;
  color: #6a6a6a;
}

.invoice-container .info-desc {
  font: 500 12px/14px Poppins !important;
  line-height: normal !important;
}

.invoice-container .info-desc span {
  font: 500 12px/14px Poppins !important;
  color: #0019d8;
}

.detail-card .invoice-container {
  padding: 0px 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  border-radius: 4px;
}

.invoice-main-title {
  font: 600 12px/14px Poppins;
}

.detail-card .info-container {
  padding: 8px 12px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-top: #c3c3c3 1px solid;
}

.detail-card .form-container {
  padding: 0px 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
}

.meter-dialog-title {
  font: 600 16px/18px Poppins !important;
  margin-bottom: 10px;
  padding-left: 20px;
}

.title-ch-contract {
  font: 500 12px/14px Poppins !important;
}

.desc-ch-contract {
  font: 300 10px/11px Poppins !important;
}

.mat-list .meter-list {
  margin: 0 auto !important;
}

img.ch-img.mat-list-avatar {
  border-radius: 0% !important;
  height: 19px !important;
  width: 19px !important;
}

.meter-list .item {
  height: 57px !important;
}

.meter-list .item.highlight {
  background: #e5edff;
}

.mat-list .meter-list :hover {
  margin: 0 auto !important;
  background-color: #7e8dff;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 5px 0px rgba(0, 0, 0, 0.02) !important;
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 5px 0px rgba(0, 0, 0, 0.02) !important;
}

.thumb-sx {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.mat-badge-small.mat-badge-overlap.mat-badge-before .mat-badge-content {
  left: -4px !important;
  top: unset;
  width: 14px;
  height: 14px;
}

.two-n-three-row-list .title-main {
  display: block !important;
  color: #212121;
  font: 500 12px/14px Poppins !important;
  line-height: 1.6rem !important;
}

.two-n-three-row-list .desc-main {
  display: block !important;
  color: #454545;
  font: 400 10px/11px Poppins !important;
  margin-bottom: 11px;
}

.two-n-three-row-list .main-list {
  display: block !important;
  margin-left: 15px;
}

.two-n-three-row-list .details-list {
  float: right !important;
}

.main-list.title-main {
  color: #212121;
  font: 500 12px/14px Poppins !important;
  line-height: 1.6rem !important;
  display: block;
}

.main-list.desc-main {
  display: block;
  color: #212121;
  font: 300 10px/11px Poppins !important;
}

.main-list .desc-blue {
  display: block;
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.text-white {
  color: #ffffff !important;
}

.detail-card .text-red {
  font-size: 10px;
  font-weight: 500;
  color: red;
  line-height: normal !important;
  text-align: right;
  float: right;
}

.detail-card .un-active {
  background-color: #d6d6d6 !important;
  border-radius: 4px;
}

.text-red {
  color: red !important;
}

.renew-btn {
  color: #ff4568 !important;
  font: 500 10px/11px Poppins !important;
  text-align: right;
  line-height: 1rem;
}

.two-n-three-row-list .title-rental {
  font: 600 12px/14px Poppins !important;
  line-height: 1.6rem !important;
}

.two-n-three-row-list .title-tenant {
  font: 500 12px/14px Poppins !important;
  line-height: 1.6rem !important;
}

.two-n-three-row-list .desc-f {
  font: 400 10px/16px Poppins !important;
  color: #454545;
}

.two-n-three-row-list .title-account {
  font: 600 12px/18px Poppins !important;
  display: inline-block;
}

.title-account-top {
  font: 600 12px/18px Poppins !important;
  display: inline-block;
  padding-right: 10px;
  color: #001088 !important;
}

.title-account-bottom {
  font: 300 10px/16px Poppins !important;
  display: inline-block;
  padding-right: 10px;
  color: #212121 !important;
}

.title-account-top-right {
  font: 600 12px/18px Poppins !important;
  display: inline-block;
  color: #0019D8 !important;
}

.title-account-code {
  font: 300 10px/16px Poppins !important;
  display: inline-block;
  padding-left: 10px;
}

.acc-sub-title {
  font-size: 10px !important;
  font-weight: normal !important;
}

.acc-sub-title span {
  font-size: 10px !important;
  font-weight: normal !important;
}

.acc-left-top {
  font: 300 12px/14px Poppins !important;
  text-align: left;
}

.acc-amt-top {
  font: 300 12px/14px Poppins !important;
  text-align: right;
}

.acc-amt-top span,
.acc-left-top span {
  font: 500 12px/14px Poppins !important;
  color: #0019d8;
}

.title-aging {
  display: inline-block;
  text-align: right;
  font: 400 12px/14px Poppins !important;
  color: #0019d8;
  width: 50%;
  padding-right: 3px;
}

.mat-card .mat-expansion-panel {
  margin: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-card .mat-expansion-panel:hover {
  margin: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.mat-card.detail-card.active.m-b-0.mat-card {
  background: #dedede;
}

.two-n-three-row-list-acc {
  padding: 0px !important;
  cursor: pointer;
  width: 100% !important;
}

.two-n-three-row-list-acc .title-account {
  font: 600 12px/14px Poppins !important;
  line-height: 1.6rem !important;
  display: inline-block;
  margin-left: -3px !important;
}

.two-n-three-row-list-acc .list-meter {
  padding-left: 0px !important;
}

.two-n-three-row-list-acc .mat-list-item-content {
  padding-right: 3px !important;
}

.icon-14-green {
  font-size: 14px !important;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00be3a;
  line-height: normal !important;
}

.icon-18 {
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
  vertical-align: middle;
}

.two-n-three-row-list .list-img {
  /* margin-right:10px !important;*/
  border-radius: 3px !important;
  height: 48px !important;
  width: 60px !important;
}

.two-n-three-row-list .noti-img {
  /* margin-right:10px !important;*/
  margin-right: 0px;
  width: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  border-radius: 3px !important;
  padding: 0;
  height: 32px !important;
}

.search-bar .menu-img-icon {
  border-radius: 50% !important;
  height: 30px !important;
  width: 30px !important;
}

.two-n-three-row-list-acc .meter-img-icon {
  border-radius: 3px !important;
  height: 21px !important;
  width: 21px !important;
}

.two-n-three-row-list .daily-img-icon {
  height: 14px !important;
  width: 14px !important;
  padding-right: 3px;
  display: inline-block;
  *display: inline;
  /* for older IE */
  *zoom: 1;
  /* for older IE */
  vertical-align: middle;
  background: transparent;
}

.two-n-three-row-list .title-date-daily {
  color: #212121;
  font: 400 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-service-req {
  color: #212121;
  font: 400 10px/11px Poppins !important;
  line-height: 1rem !important;
  text-align: right;
}

.two-n-three-row-list .title-service-req span {
  font: 400 10px/11px Poppins !important;
  color: #0019d8;
}

.two-n-three-row-list .title-daily {
  color: #212121;
  font: 600 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-draft {
  color: #0019d8;
  font: 500 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-approve {
  color: #6a6a6a;
  font: 500 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-reject {
  color: red;
  font: 600 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-reject-reason {
  color: red;
  font: 400 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-pending {
  color: #ffb11f;
  font: 600 12px/14px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-subdaily {
  color: #212121;
  font: 400 10px/11px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-subservice {
  color: #212121;
  font: 400 11px/12px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
}

.two-n-three-row-list .title-subinvoice {
  color: #0019d8;
  font: 400 11px/12px Poppins !important;
  line-height: 1rem !important;
  padding-right: 3px;
  text-decoration: underline;
}

.two-n-three-row-list span.text-blue {
  font: 400 10px/11px Poppins !important;
  color: #0019d8;
}

.m-50 {
  margin: 50px;
}

.remove-mat-draw-margin {
  margin-bottom: -60px;
}

.show-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-b-5-i {
  margin-bottom: 5px !important;
}

.pulse-button {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  -webkit-box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.8);
          box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.8);
  border-radius: 50%;
  background-color: rgba(232, 76, 61, 0.2);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  animation: none;
}

.ifca-list-img {
  background: #cfcfcf;
  width: 105px !important;
  height: 85px;
  border-radius: 10% !important;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

.upload-video {
  width: 70px;
  border-radius: 5px;
}

.desc-f-bold {
  display: block !important;
  color: #454545;
  font: 600 10px/16px Poppins !important;
}

.desc-f.desc-f-blue-right {
  display: block !important;
  color: #0019D8;
  font: 600 10px/16px Poppins !important;
  text-align: right;
}

.small-label-desc {
  font: 600 10px/11px Poppins !important;
}

.timeline-header .info-title-noti img {
  text-align: center !important;
  width: 24px;
  height: 24px;
}

.timeline-header .info-title.with-icon {
  padding-left: 34px !important;
}

.pos-inherit {
  position: inherit !important;
}

.txt-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-n-three-row-list .timeline span.text-blue {
  font: 400 12px Poppins !important;
}

.m-l-8 {
  margin-left: 8px !important;
}

.x-overflow {
  overflow: unset !important;
}

.responsive-list.subheader .desc-blue {
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.responsive-list.subheader .first {
  min-width: 50px;
}

.responsive-list.subheader .sub-line-last-desc {
  overflow: unset !important;
}

.responsive-list.subheader .header-desc {
  color: #212121;
  font: 400 10px/11px Poppins !important;
  overflow: unset !important;
}

.responsive-list .desc-blue {
  color: #0019d8;
  font: 400 10px/11px Poppins !important;
}

.responsive-list .contractNo-f {
  color: #212121;
  font: 600 12px/11px Poppins !important;
}

.responsive-list .contractAmt-f {
  color: #0019d8;
  font: 600 10px/11px Poppins !important;
}

.responsive-list .expire-f {
  color: #ff365d;
  font: 400 10px/11px Poppins !important;
}

.responsive-list .min-width-86 {
  min-width: 86px;
}

.responsive-list .icon-10 {
  font-size: 10px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 10px !important;
  height: 10px !important;
  vertical-align: top;
  text-align: center;
  line-height: 9px;
}

.responsive-list .min-width-100 {
  min-width: 100px;
}

.responsive-list .min-width-120 {
  min-width: 120px;
}

.responsive-list .sub-line-last-desc {
  overflow: unset !important;
}

.responsive-list .header-desc {
  color: #212121;
  font: 400 10px/11px Poppins !important;
  overflow: unset !important;
}

.responsive-list .mat-list-base .mat-list-item .mat-line {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.detail-card.expansion .responsive-list .header-desc {
  color: #212121;
  font: 600 10px/11px Poppins !important;
  overflow: unset !important;
}

.m-t-6-lr-8 {
  margin: 6px 8px 0px 8px !important;
}

.responsive-list.feed .mat-list-avatar {
  width: 54px !important;
  height: 38px !important;
  border-radius: unset !important;
}

.unit-space {
  width: 100px;
}

.m-t-12 {
  margin-top: 12px !important;
}

.meter-unpaid {
  background-color: white !important;
}

.detail-card.expansion .responsive-list.meter-utility .title-f {
  font: 600 12px/18px Poppins !important;
  color: #0019D8 !important;
}

.detail-card.expansion .responsive-list.meter-utility .title-f.black-font {
  color: #212121 !important;
}

.quotation-list-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px !important;
  padding: 12px 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.quotation-list-container .mat-radio-label-content {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quotation-list-container:last-child {
  border-bottom: unset;
  padding: 10px 0px 0px 0px !important;
}

.quotation-list-container:first-child {
  padding: 0px 0px 10px 0px !important;
}

.border-btm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.border-btm:last-child {
  border-bottom: unset;
}

.align-item-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.listing-more_vert-btn {
  width: 20px !important;
  margin-left: 10px !important;
}

.quotation-disabled .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
  color: unset;
}

.switch-dialog .mat-list-item-content {
  padding: 0px 16px !important;
}

.new-email-sign-up {
  font: 400 12px/12px Poppins !important;
  text-align: right;
  text-decoration: underline;
  color: white;
}

.sign-up.with-footer {
  padding-bottom: 100px !important;
}

textarea {
  height: 25px !important;
}

.mat-card.mat-card.mat-focus-indicator.service-request-detail-desc {
  margin: 0px 4px;
}

.service-request-desc {
  padding: 14px 0px;
}

.service-request-desc:first-child {
  padding: 0px 0px 14px 0px;
}

.service-request-desc:last-child {
  padding: 14px 0px 0px 0px;
}

.service-request-desc:last-child:first-child {
  padding: 0px;
}

.service-request-desc .ifca-list-img {
  margin: unset;
}

.service-request-list-item {
  padding: 0px !important;
  margin: 4px 6px 0px 6px;
}

/* Originally from style.css [TENANT-APP] (END) */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Originally from style.scss */
.typing-indicator {
  background-color: #e6e7ed;
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 20px;
  display: table;
  margin: 0 auto;
  position: relative;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}

.typing-indicator::before, .typing-indicator::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e6e7ed;
}

.typing-indicator::after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}

.typing-indicator span {
  height: 15px;
  width: 15px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

/* Originally from style.scss (END) */
/***************************************/
/***************************************/
/***************************************/
/***************************************/
/* Originally from style.override.css + style.override.scss */
.p-t-4 {
  padding-top: 4px !important;
}

.p-t-5 {
  padding-top: 5px;
}

.form-control-override {
  border: unset !important;
}

.overflow-auto {
  overflow: auto;
}

.m-tb10-lr0 {
  margin: 10px 0 !important;
}

.mat-card .mat-card-content.form {
  padding: 14px 12px !important;
}

.line-height-20 {
  line-height: 20px !important;
}

.p-14-12 {
  padding: 14px 12px;
}

.override-icon {
  width: unset;
  color: #0019d8;
  font-size: 14px;
  vertical-align: -webkit-baseline-middle;
}

.m-t-14 {
  margin-top: 14px;
}

.primary-label {
  background-color: #e5edff;
  padding: 2px 5px;
  text-align: center;
  border-radius: 4px;
}

.no-pointer-event {
  pointer-events: none;
}

.footer-menu-width-100 {
  width: 100% !important;
  right: 0 !important;
}

.line-height-25 {
  line-height: 25px !important;
}

.mat-card .mat-card-header.p-10-12-without-icon {
  padding: 10px 12px !important;
}

.mat-card .mat-card-header.p-10-12-with-icon {
  padding: 0px 12px !important;
}

.m-10 {
  margin: 10px;
}

.m-t-2 {
  margin-top: 2px;
}

.mat-dialog-content-override {
  width: 100% !important;
  margin: auto;
  background: white;
}

#icon-20 {
  font-size: 20px !important;
  width: 20px !important;
  height: 20px !important;
  color: #0019d8;
  padding: 5px 2px !important;
}

.no-display-block {
  display: unset !important;
}

.d-inline-block {
  display: inline-block !important;
}

.header-end {
  position: absolute;
  right: 0;
  top: 2px;
}

.m-tb-6-lr-12 {
  margin: 6px 12px !important;
}

.m-tb-6-lr-12 .mat-table-label {
  font-size: 1rem;
  line-height: 23px;
  padding: 0px 15px !important;
  margin-bottom: 0px !important;
}

.no-data-div {
  text-align: center;
  padding: 15px;
}

.check-date {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  padding-left: 30px;
}

.ifca-general-header.mat-toolbar-single-row {
  height: initial !important;
  min-height: 70px;
}

.toggle-label {
  color: rgba(0, 0, 0, 0.54);
}

.toggle-style {
  margin-left: -10px;
}

.responsive-list .title-f {
  color: #212121;
}

.desc-f-blue {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

@media screen and (max-width: 450px) {
  .landing-img-bg {
    background-size: cover;
  }
}

.tag-line-text {
  color: #fcb023;
  font: 500 11px/10px Poppins;
  width: 186px;
}

.white-bordered mat-row,
.white-bordered mat-header-row,
.white-bordered mat-footer-row,
.white-bordered th.mat-header-cell,
.white-bordered td.mat-cell,
.white-bordered td.mat-footer-cell {
  border: 1px solid #ffffff88;
  border-bottom-color: #ffffff88 !important;
}

.mat-card-header-text {
  width: 100%;
}

.mat-card .mat-card-content {
  padding: 14px 12px;
}

.table-responsive table {
  width: 700px;
  overflow-x: auto;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive .mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  margin: 0px;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
  display: table-row;
}

.table-responsive .mat-header-cell {
  text-align: left;
}

.table-responsive .mat-cell,
.table-responsive .mat-header-cell {
  width: auto;
  min-width: 100px;
  max-width: 250px;
  font: 400 12px/18px Poppins !important;
}

.table-responsive .mat-header-cell.xs-short,
.table-responsive .mat-cell.xs-short {
  width: auto;
  min-width: 35px;
  max-width: 250px;
}

.table-responsive .mat-header-cell.x-short,
.table-responsive .mat-cell.x-short {
  width: auto;
  min-width: 55px;
  max-width: 250px;
}

.table-responsive .mat-header-cell.short,
.table-responsive .mat-cell.short {
  width: auto;
  min-width: 125px;
  max-width: 250px;
}

.table-responsive .mat-header-cell.medium,
.table-responsive .mat-cell.medium {
  width: auto;
  min-width: 175px;
  max-width: 250px;
}

.table-responsive .mat-header-cell.long,
.table-responsive .mat-cell.long {
  width: auto;
  min-width: 225px;
  max-width: 250px;
}

.line-height-2_5 {
  line-height: 2.5rem !important;
}

.table-responsive th {
  background-color: #0019D8;
  color: #FFFFFF;
}

.table-responsive tr:nth-child(even) {
  background-color: #e6eeff;
}

.table-responsive th.mat-header-cell:first-of-type,
.table-responsive td.mat-cell:first-of-type,
.table-responsive td.mat-footer-cell:first-of-type,
.table-responsive th.mat-header-cell:last-of-type,
.table-responsive td.mat-cell:last-of-type,
.table-responsive td.mat-footer-cell:last-of-type,
.table-responsive th.mat-header-cell,
.table-responsive td.mat-cell,
.table-responsive td.mat-footer-cell {
  padding: 10px;
}

.mat-card .mat-card-content.business-insight {
  padding: 0;
}

.table-responsive .mat-row,
.table-responsive .mat-header-row {
  display: table-row;
  height: 40px !important;
}

.total {
  background-color: #f2f2f2 !important;
  text-align: right !important;
  font: 400 12px/18px Poppins !important;
}

.total-label {
  background-color: #f2f2f2 !important;
  text-align: left !important;
  font: 600 12px/18px Poppins !important;
}

.colored {
  background-color: red;
  border-radius: 25%;
}

.new {
  height: 10px;
  border: 1px solid #A3437B;
  background-color: #A3437B;
  border-radius: 25%;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.approved {
  height: 10px;
  border: 1px solid #DA5A6A;
  background-color: #DA5A6A;
  border-radius: 25%;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pending-approval {
  height: 10px;
  border: 1px solid #F5894D;
  background-color: #F5894D;
  border-radius: 25%;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.rejected {
  height: 10px;
  border: 1px solid #EDC436;
  background-color: #EDC436;
  border-radius: 25%;
  vertical-align: middle;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mat-simple-snackbar * {
  color: white !important;
}

.mat-simple-snackbar * .mat-button-wrapper {
  color: #ffb11f !important;
}

button,
mat-icon {
  cursor: pointer !important;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 4px;
}

.sticky-container {
  overflow: auto;
  height: 70vh;
}

.content-detail-gap {
  margin-bottom: 14px;
}

.content-detail-gap.content-detail-left {
  padding-right: 8px;
}

.content-detail-gap.content-detail-right {
  padding-left: 8px;
}

.todo-expansion.detail-card.expansion {
  margin: 6px 6px 0 6px;
}

.detail-card .info-container-meter {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e8e8e8;
}

.detail-card .container-submeter {
  border-bottom: #d6d6d6 1px solid;
  padding: 5px 15px 0 15px;
}

.container-submeter .title-meter-info-xl {
  font: 600 14px/14px Poppins !important;
  line-height: 1.6rem !important;
}

.container-submeter .title-meter-info-l {
  font: 600 12px/12px Poppins !important;
  line-height: 1.6rem !important;
}

.container-submeter .title-meter-info {
  font: 400 11px/12px Poppins !important;
  line-height: 1.6rem !important;
}

.info-container-meter:last-child .detail-card .container-submeter {
  border-bottom: none;
}

.m-t-6 {
  margin-top: 6px;
}

.meter-detail-list .mat-list-base .mat-list-item {
  padding: 0 12px !important;
}

.footer-menu button {
  width: 100%;
  margin: 0 15px;
  max-width: 175px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* Originally from style.override.css + style.override.scss (END) */
/***************************************/
/***************************************/
.mat-datepicker-content-touch {
  margin: 0 !important;
}

.mat-calendar-body-selected {
  color: white;
}

.mat-list-base .mat-list-item .mat-list-icon.profile-img-icon {
  font-size: 46px !important;
  width: 46px !important;
  height: 46px !important;
  border-radius: 50% !important;
  padding: 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.mat-list-base .mat-list-item .mat-list-icon.profile-detail-img-icon {
  font-size: 33px !important;
  width: 33px !important;
  height: 33px !important;
  border-radius: 50% !important;
  padding: 0px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.clear-box-shadow.responsive-list.mat-list-base .mat-list-item {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.contact-icon {
  color: #000000;
  font-size: 12px;
  width: 12px !important;
  height: 12px !important;
}

.expansion-frame .mat-expansion-panel {
  margin: 6px 6px -1px 6px;
  border-radius: 4px;
}

.expansion-frame .mat-expansion-panel .mat-expansion-panel-header {
  padding: 10px 12px;
}

.expansion-frame .mat-expansion-panel .mat-expansion-panel-body {
  padding: unset !important;
}

.expansion-frame .mat-expansion-panel .mat-expansion-panel-body .mat-card.mat-card.mat-focus-indicator {
  margin: unset !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.detail-card.expansion .mat-expansion-panel-header {
  background: white !important;
}

.header-top-section {
  border-radius: unset !important;
  border-bottom: 1px solid #FFFFFF;
}

.header-top-right-font {
  font: 600 12px/18px Poppins !important;
  color: #001088;
}

.header-top-left-font {
  font: 600 12px/18px Poppins !important;
  color: #001088;
}

.side-title {
  font: 600 10px/16px Poppins !important;
  color: #001088;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-btm-font {
  font: 600 10px/16px Poppins !important;
  color: #212121;
}

.header-expand-icon.mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.header-expand-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.mat-expansion-panel .mat-expansion-panel-header.mat-expanded .header-expand-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.subheader .mat-expansion-panel .mat-expansion-panel-header {
  padding: 0px;
}

.subheader .mat-expansion-panel {
  width: 100%;
  background-color: #BFD3FF;
}

.subheader .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
  margin: 0px;
}

.subheader .mat-expansion-panel .mat-expansion-panel-header span {
  display: inline-block;
}

.subheader .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}

.subheader .mat-expansion-panel .mat-expansion-panel-header:hover {
  background: initial !important;
}

.subheader .mat-expansion-panel .header-label {
  color: #454545 !important;
}

.p-t-8 {
  padding-top: 8px;
}

.p-t-6 {
  padding-top: 8px;
}

.dollar-gap {
  margin-right: 4px;
}

.mat-list-base .mat-list-item .mat-list-avatar {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.mat-list-base .mat-list-item .mat-list-avatar.list-thumbnail {
  position: unset;
  width: 57px !important;
  height: 37px !important;
  border-radius: 3px !important;
}

.mat-list-base .mat-list-item .mat-list-avatar.list-thumbnail > img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 3px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc-icon {
  font-size: 10px !important;
  height: 10px !important;
  width: 10px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
}

.second-col-info {
  margin-left: 8px;
}

.contact-f {
  font: 500 10px/16px Poppins;
  color: #0019D8;
  text-decoration: underline;
}

.responsive-list .mat-expansion-panel {
  width: 100%;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-header {
  padding: 0px !important;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-body {
  padding: 8px 0px 0px 0px;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
  width: 100%;
}

.contact-icon.contact-icon-gap {
  margin-right: 4px;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
  width: 100%;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-indicator {
  width: 24px;
  height: 24px;
  text-align: center;
}

.responsive-list .pos-list .list-meter {
  padding: 0px 12px;
}

.responsive-list .pos-list .list-meter .list-meter-detail {
  border-top: 1px solid #EBEBEB;
  padding: 8px 0px;
}

.responsive-list .pos-list .list-meter .list-meter-detail > div {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
  width: 100%;
}

.responsive-list .pos-list .mat-expansion-panel .mat-expansion-panel-header {
  padding-left: 12px !important;
  padding-right: 12px !important;
  padding-bottom: 10px !important;
}

.responsive-list .pos-list .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}

.pos-detail-title-f {
  font: 400 12px/18px Poppins;
  color: #212121;
}

.pos-detail-value-f {
  font: 500 12px/18px Poppins;
  color: #212121;
}

.pos-detail-summary-title-f {
  font: 600 12px/18px Poppins;
  color: #212121;
}

.pos-detail-summary-total-sales-title-f {
  font: 600 14px/20px Poppins;
  color: #212121;
}

.pos-detail-summary-total-sales-value-f {
  font: 600 14px/20px Poppins;
  color: #0019D8;
}

.pos-detail-attachment-filename-f {
  font: 500 12px/18px Poppins;
  color: #212121;
}

.pos-detail-attachment-title-f {
  font: 400 10px/16px Poppins;
  color: #212121;
}

.responsive-list .pos-list .pos-detail-list {
  padding: 0px 12px;
}

.responsive-list .pos-list .pos-detail {
  border-top: 1px solid #EBEBEB;
  padding: 8px 0px;
}

.responsive-list .pos-list .pos-detail-attachment {
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0px;
}

.responsive-list .pos-list .pos-detail-attachment-container .pos-detail-list:last-child .pos-detail-attachment {
  border-bottom: unset;
}

.responsive-list .pos-list .pos-detail-attachment-container {
  padding-top: 8px;
  width: 100%;
}

.responsive-list .pos-list .pos-detail-summary .pos-detail {
  border-top: unset;
}

.responsive-list .pos-list .pos-detail-summary {
  background-color: #D8E4FF;
  width: 100%;
}

.news-container {
  font: 400 12px/18px Poppins;
  color: #212121;
  margin-top: 8px;
}

.responsive-list .mat-expansion-panel.with-badge {
  overflow: unset;
}

.news-img-container {
  width: 100%;
  text-align: center;
}

.news-img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  max-height: 480px;
}

.mat-card-header {
  background-color: #BFD3FF;
}

.mat-card .mat-card-header .mat-card-title {
  font: 600 14px/20px Poppins;
  color: #001088;
}

.card-content-list > div {
  width: 100%;
}

.card-content-list {
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0px;
}

.card-content-list:first-child {
  padding-top: unset;
}

.card-content-list:last-child {
  border-bottom: unset;
  padding-bottom: unset;
}

.content-detail-container > div {
  margin-bottom: 12px;
}

.content-detail-container > div:last-child {
  margin-bottom: unset;
}

.content-detail-container > div:nth-last-child(2).left {
  margin-bottom: unset;
}

.content-detail-container > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  max-width: 100%;
}

.content-detail-container > div.left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  padding-right: 8px;
}

.content-detail-container > div.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}

.list-thumbnail {
  width: 57px !important;
  height: 37px !important;
  border-radius: 3px !important;
}

.list-info-container {
  padding-left: 8px;
  width: 100%;
}

.flex-container-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-container-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.radio-btn-list-container > .mat-radio-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #EBEBEB;
}

.radio-btn-list-container > .mat-radio-button:first-child {
  padding-top: unset;
}

.radio-btn-list-container > .mat-radio-button:last-child {
  padding-bottom: unset;
  border-bottom: unset;
}

.mat-radio-group .mat-radio-label-content {
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-radio-label-content.mat-radio-label-before {
  width: 100%;
}

.input-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.input-detail > .mat-form-field {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.input-detail .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
  padding-right: 8px;
}

.input-detail .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  max-width: 50%;
}

.mat-card .mat-card-content {
  padding: 10px 12px;
}

.header-label {
  font: 300 10px/16px Poppins !important;
  color: #878787 !important;
}

.header-value {
  font: 400 12px/18px Poppins !important;
  color: #212121;
}

.header-value-bold {
  font: 500 12px/18px Poppins !important;
  color: #212121;
}

.dialog-header .infoline-list:last-child .infoline-seperator {
  display: none;
}

.dialog-header .infoline-list:last-child {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.icon-12 {
  font-size: 12px !important;
  height: 12px !important;
  width: 12px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.red-badge {
  position: absolute;
  top: 7px;
  right: unset;
  margin-left: -7px;
}

.mat-badge-content {
  width: 12px !important;
  height: 12px !important;
}

button.mat-menu-item {
  font: 500 12px/18px Poppins;
}

.icon-14 {
  font-size: 14px !important;
  height: 14px !important;
  width: 14px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.icon-blue {
  color: #0019D8;
}

.responsive-list .mat-expansion-panel .mat-expansion-panel-body .content-detail-container {
  padding: 0px;
}

.responsive-list.mat-list-base .mat-list-item.pos-list {
  padding: 10px 0px 0px !important;
}

.responsive-list .pos-list .list-meter.dim-bg:first-child .list-meter-detail {
  border-top: unset;
}

.dim-bg * {
  color: #9B9B9B !important;
}

.font-lightBlue-color {
  color: #0019D8 !important;
}

.font-darkBlue-color {
  color: #001088 !important;
}

.font-black-color {
  color: #212121 !important;
}

.font-red-color {
  color: #FF1B40 !important;
}

.font-label-color {
  color: #878787 !important;
}

.font-desc-color {
  color: #454545 !important;
}

.font-desc-orange {
  color: #FBAF22 !important;
}

.attachment-list-container .attachment-list {
  padding: 0px 12px;
}

.attachment-filename-container {
  font: 500 12px/18px Poppins;
  color: #212121;
  margin-left: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.attachment-list-container .attachment-list .attachment-detail {
  border-bottom: 1px solid #EBEBEB;
  padding: 8px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.attachment-list-container .attachment-list:first-child .attachment-detail {
  padding-top: 10px;
}

.attachment-list-container .attachment-list:last-child .attachment-detail {
  padding-bottom: 10px;
  border-bottom: unset;
}

.dialog-content .attachment-list-container .attachment-list:first-child .attachment-detail {
  padding-top: 0px;
}

.dialog-content .attachment-list-container .attachment-list:last-child .attachment-detail {
  padding-bottom: 0px;
}

.dialog-content .attachment-list-container .attachment-list {
  padding: 0px;
}

.dialog-content .attachment-list-container.quotation-list .attachment-list:last-child .attachment-detail {
  padding-bottom: 8px;
  border-bottom: 1px solid #EBEBEB;
}

.dialog-content .responsive-list.mat-list-base .mat-list-item {
  padding: 0px !important;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  margin-bottom: 0px;
}

.dialog-content .responsive-list {
  padding: 0px !important;
}

.dialog-content .mat-card .mat-card-content {
  padding: 0px;
}

.dialog-content .section-label {
  padding: 20px 0px 12px 0px;
  font: 300 12px/18px Poppins;
}

.dialog-content.list-container {
  padding: 0px;
}

.list-container .responsive-list.mat-list-base .mat-list-item {
  padding: 0px 12px !important;
}

.list-container .responsive-list.mat-list-base .mat-list-item.selected-item {
  background-color: #E5EDFF;
}

.list-container .responsive-list.mat-list-base .mat-list-item .mat-list-item-content {
  padding: 8px 0px !important;
  border-bottom: 1px solid #EBEBEB;
}

.list-container .responsive-list.mat-list-base .mat-list-item:first-child .mat-list-item-content {
  padding-top: 10px !important;
}

.list-container .responsive-list.mat-list-base .mat-list-item:last-child .mat-list-item-content {
  padding-bottom: 10px !important;
  border-bottom: unset;
}

.filter-option .mat-list-base {
  padding-top: 0px;
}

.filter-option .radio-btn-list-container > .mat-radio-button {
  border-bottom: unset;
  padding: 6px 0px;
}

.filter-option .radio-btn-list-container > .mat-radio-button:first-child {
  padding-top: 0px;
}

.filter-option .radio-btn-list-container > .mat-radio-button:last-child {
  padding-bottom: 0px;
}

.filter-option .mat-list-base .mat-list-item {
  padding: 0px !important;
}

.filter-option .mat-list-item-content {
  padding: 6px 0px !important;
}

.filter-option .mat-list-option {
  height: unset !important;
  font: 400 16px/22px Poppins !important;
}

.dialog-content .section-label.first-section-label {
  padding-top: 0px;
}

.filter-option .mat-radio-label-content {
  font: 400 16px/22px Poppins !important;
}

.filter-option .mat-list-option:first-child .mat-list-item-content {
  padding-top: 0px !important;
}

.filter-option .mat-list-option:last-child .mat-list-item-content {
  padding-bottom: 0px !important;
}

.dialog-header-button.mat-raised-button {
  line-height: unset;
  border: 1px solid #0019D8;
  margin-right: 1px;
  margin-bottom: 3px;
}

.dialog-header-button.mat-raised-button span {
  font: 500 10px/16px Poppins !important;
  color: #0019D8 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0px;
}

.icon-16 {
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
  margin-right: 2px;
  display: inline-block;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.dialog-header.responsive-list.mat-list-base .mat-list-item {
  padding: 10px 12px !important;
}

.filter-option .mat-list-base .mat-list-option .mat-list-text {
  padding-left: 8px !important;
}

.mat-form-label-font {
  font: 300 12px/18px Poppins;
  color: #878787;
}

.mat-form-value-font {
  font: 400 16px/22px Poppins;
  color: #212121;
}

.ifca-general-header .bread-crumb .left-bread-crumb {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font: 400 10px/14px Poppins;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ifca-general-header .bread-crumb .right-bread-crumb {
  font: 400 10px/14px Poppins;
  color: #FFB11F;
}

.switch-icon {
  color: #ffb11f;
  font-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
}

button.menu-burger.mat-icon-button .mat-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 18px;
}

.ifca-general-header.sub-header {
  position: unset;
}

@media (max-width: 767px) {
  .top-header {
    display: none !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media (min-width: 768px) {
  .ifca-general-header.sub-header .menu-burger.menu-logo {
    display: none;
  }
}

.side-menu-font {
  font: 500 14px/20px Poppins;
  color: #363636;
}

.active-page .side-menu-font {
  color: #FFFFFF;
}

.top-header .title {
  font: 700 16px/22px Poppins;
  color: #FFFFFF;
}

.top-header .mat-icon {
  color: #FFFFFF;
  margin-right: 6px;
  font-size: 24px;
}

.sidebar-popup-menu-font {
  font: 500 12px/18px Poppins;
  color: #363636;
}

.sidebar-popup-menu-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.copyright-footer {
  padding: 4px 10px;
  background: #E5E5E5;
  font: 500 10px/16px Poppins;
  color: #000000;
}

.copyright-footer .copyright-app-font {
  font-weight: 600;
  font-family: Arial;
}

@media (min-width: 768px) {
  .copyright-footer {
    padding: 8px 12px;
    background: #E5E5E5;
    font: 500 12px/18px Poppins;
    color: #000000;
  }
  .footer-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.cdk-global-scrollblock {
  position: unset !important;
}

.profile-frame {
  width: 100%;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}

.profile-frame > img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 15px;
}

.mat-card .mat-card-header .mat-icon {
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: #0019D8;
}

.responsive-list.mat-list-base .with-expand-panel.mat-list-item {
  padding: 0px !important;
}

.responsive-list .with-expand-panel .mat-expansion-panel {
  padding: 10px 12px;
}

.mat-expansion-panel .mat-expansion-panel-header:hover {
  background: unset !important;
}

.mat-accordion .mat-expansion-panel-spacing {
  margin: 0px;
}

.time-line-header-f {
  font: 600 14px/20px Poppins;
  color: #001088;
}

.cancel-decoration {
  text-decoration: line-through;
}

.attachment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  padding: 2px;
}

.attachment-container .attachment-item {
  width: 120px;
  margin: 10px;
}

.attachment-img-container {
  position: relative;
  margin: auto;
  height: 100px;
  width: 100px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

.attachment-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.attachment-img-container .mat-mini-fab {
  position: absolute;
  right: -13px;
  top: -12px;
  width: 24px;
  height: 24px;
}

.attachment-item-name {
  font: 600 12px/18px Poppins;
  color: #212112;
  text-align: center;
}

.centre-profile-frame {
  position: relative;
  margin: 0 auto 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.profile-upload-frame .profile-img {
  border: 1px solid #e4e4e4;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-upload-frame .upload-icon {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 40px;
  height: 40px;
}

.mat-card .mat-card-header .mat-icon:not(:last-child) {
  margin-right: 10px;
}

.mat-card .mat-card-header img {
  width: 24px;
  height: 24px;
}

.mat-card .mat-card-header img:not(:last-child) {
  margin-right: 10px;
}

.slide-toggle-input {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-toggle-input mat-label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  font: 400 16px/22px Poppins;
  color: #212121;
}

.mat-card .mat-expansion-panel .mat-expansion-panel-header {
  background-color: #BFD3FF;
  padding: 10px 12px;
}

.mat-card .mat-expansion-panel .mat-expansion-panel-header .mat-expansion-panel-header-title {
  font: 600 14px/20px Poppins;
  color: #001088;
}

.mat-card .mat-expansion-panel .mat-expansion-panel-header:hover,
.mat-card .mat-expansion-panel .mat-expansion-panel-header:focus {
  background-color: #BFD3FF !important;
}

.mat-card .mat-expansion-panel .mat-expansion-panel-body {
  padding: 0px;
}

.mat-card .mat-expansion-panel .mat-expansion-panel-body .mat-card {
  margin: 0px;
}

.responsive-list.mat-list-base .reminder-info-container.mat-list-item {
  background: #FFF2D9;
}

.mat-list-base .reminder-info-container.mat-list-item .mat-list-icon {
  font-size: 12px !important;
  width: 12px !important;
  height: 12px !important;
  color: #FFB11F;
  padding: 0px !important;
}

.mat-list-base .reminder-info-container.mat-list-item .mat-line {
  font: 400 12px/16px Poppins;
}

.reminder-info-f {
  font: 600 12px/16px Poppins;
}

.search-with-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 3px 4px 0px;
}

.search-with-filter .mat-list:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  max-width: 70%;
}

.search-with-filter .mat-list:not(:first-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  max-width: 30%;
  margin-left: 8px;
}

.card-section-container .card-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.card-section-container .card-section-list:not(:last-child) {
  padding-bottom: 6px;
  border-bottom: 1px solid #EBEBEB;
}

.card-section-container .card-section-list:not(:first-child) {
  padding-top: 6px;
}

.card-section-container .card-section-list .card-section-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end,
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  color: black;
}

.check-box-container {
  border-top: 1px solid #EBEBEB;
}

.check-box-header {
  padding: 8px 12px;
}

.desc-f span.mat-checkbox-label {
  font: 400 10px/16px Poppins !important;
}

.check-box-content {
  padding: 8px 12px;
  border-top: 1px solid #EBEBEB;
}

.check-box-content:last-child {
  border-top: unset;
}

.check-box-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 8px 12px;
}

.check-box-footer .mat-raised-button span {
  font: 500 12px/18px Poppins !important;
  padding: 0px 25px;
}

.check-box-footer button:not(:last-child) {
  margin-right: 12px;
}

.check-box-container .mat-checkbox-layout {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-box-content-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}

.check-box-content .mat-checkbox {
  margin-right: 8px;
}

.responsive-list.mat-list-base .mat-expansion-panel-body .expanded-list-container {
  padding: 0px 12px 8px 12px;
}

.responsive-list.mat-list-base .mat-expansion-panel-body .mat-list-item.expanded-list {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  padding: 8px 12px 8px 24px !important;
  border-top: 1px solid #EBEBEB;
  margin: 0px;
}

.responsive-list.mat-list-base .mat-expansion-panel-body .mat-list-item.expanded-list:last-child {
  padding-bottom: unset !important;
}

.attachment-display-error-container {
  margin-bottom: 10px;
}

.attachment-display-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attachment-display-error-f {
  font: 400 12px/18px Poppins;
  color: #FF1B40;
}

.attachment-display-info-f {
  font: 400 12px/18px Poppins;
  color: #212121;
}

.m-r-8 {
  margin-right: 8px;
}

.attachment-img-container .mat-mini-fab .mat-button-wrapper {
  padding: 0px;
}

.attachment-img-container .mat-mini-fab .mat-button-wrapper .mat-icon {
  margin-bottom: 12px;
}

.attachment-input form {
  margin-top: -24px;
}

.mat-raised-button.mat-button-disabled span {
  color: #FFFFFF;
}

.mat-raised-button.mat-primary.mat-button-disabled,
.mat-raised-button.mat-accent.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled {
  background-color: #9B9B9B;
}

.table-responsive .mat-header-cell.text-right {
  text-align: right;
}

.table-responsive .mat-header-cell.text-center {
  text-align: center;
}

.radio-btn-input-container {
  padding-bottom: 20px;
}

.tbl-footer-row .mat-footer-cell {
  background-color: #0019D8 !important;
  color: #FFFFFF;
  text-align: right;
  font: 400 12px/18px Poppins !important;
}

.tbl-footer-row .tbl-total-label {
  text-align: left;
  font: 600 12px/18px Poppins !important;
}

.responsive-list.list-below-card {
  padding: 0px !important;
  margin: 6px 6px 0px 6px;
}

.card-container .mat-card-header {
  background-color: unset;
  border-bottom: 1px solid #EBEBEB;
}

.card-container .mat-card-header.without-border {
  border-bottom: unset;
  padding-bottom: 0px !important;
}

.card-container.mat-card .mat-card-header .mat-card-title {
  font: 600 12px/18px Poppins;
  color: #212121;
}

.card-container.mat-card .mat-card-header .mat-card-subtitle {
  font: 400 10px/16px Poppins;
  color: #454545;
}

.card-container.mat-card .mat-card-header .mat-card-title.header-main-title {
  font: 500 14px/20px Poppins;
  color: #001088;
}

.card-container.mat-card .mat-card-header .mat-card-subtitle.header-main-infoline {
  font: 400 12px/18px Poppins;
  color: #212121;
}

.dollar-icon-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-section-container .card-section-container-header {
  font: 600 16px/22px Poppins;
  color: #001088;
}

.card-section-container .label-f {
  font: 400 14px/20px Poppins;
  color: #212121;
}

.card-section-container .value-f {
  font: 600 14px/20px Poppins;
  color: #212121;
}

.card-section-container .value-f-blue {
  font: 600 14px/20px Poppins;
  color: #0019D8;
}

.card-section-container:not(:last-child) {
  margin-bottom: 20px;
}

.responsive-list.mat-list-base .mat-expansion-panel-body .mat-list-item.expanded-list-with-checkbox {
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  padding: 8px 12px 8px 0px !important;
  border-top: 1px solid #EBEBEB;
  margin: 0px;
}

.responsive-list.mat-list-base .mat-expansion-panel-body .mat-list-item.expanded-list-with-checkbox:last-child {
  padding-bottom: unset !important;
}

.date-col-f-10 {
  width: 65px;
  margin-right: 8px;
}

.todo-info-line {
  padding-left: 97px !important;
}

.status-active-color {
  color: #0019D8 !important;
}

.status-in-progress-color {
  color: #0019D8 !important;
}

.status-terminated-color {
  color: #CC0021 !important;
}

.status-rejected-color {
  color: #FF1B40 !important;
}

.status-drop-color {
  color: #FF1B40 !important;
}

.status-verified-color {
  color: #00B259 !important;
}

.status-approved-color {
  color: #00B259 !important;
}

.status-resolved-color {
  color: #00B259 !important;
}

.status-expired-color {
  color: #9B9B9B !important;
}

.status-closed-color {
  color: #9B9B9B !important;
}

.status-open-color {
  color: #FF9800 !important;
}

.status-submitted-color {
  color: #FF9800 !important;
}

.status-loo-color {
  color: #FF9800 !important;
}

.status-draft-color {
  color: #212121 !important;
}

.status-signed-color {
  color: #212121 !important;
}

.status-new-color {
  color: #001088 !important;
}

.status-changing-color {
  color: #0A00FF !important;
}

.status-fail-color {
  color: #FF1B40 !important;
}

.status-success-color {
  color: #00B259 !important;
}

.status-booked-color {
  color: #0019D8 !important;
}

.card-container-content-f {
  color: #212121;
  font: 400 12px/18px Poppins !important;
}

.desc-f-medium {
  display: inline-block !important;
  color: #454545;
  font: 500 10px/16px Poppins !important;
}

.date-col-f-12 {
  width: 70px;
  margin-right: 8px;
}

.contact-list.responsive-list {
  padding: 0px !important;
}

.contact-list.responsive-list.mat-list-base .mat-list-item {
  margin: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: unset;
}

.contact-list.responsive-list.mat-list-base .mat-list-item:not(:last-child) {
  border-bottom: 1px solid #EBEBEB;
}

.core-list .responsive-list {
  padding: 0px !important;
}

.core-list .responsive-list.mat-list-base .mat-list-item {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}

/***************************************/
/*# sourceMappingURL=styles.css.map */